#basic
/*
!.gitignore
!README.md
!.minecraft/
.minecraft/*
!.minecraft/config/
.minecraft/config/*
!/.minecraft/oresources/
!/.minecraft/resources/

#blacklist
.minecraft/resources/suk2

#config
!.minecraft/config/dsurround/
!ProjectTEP/.minecraft/config/fancymenu/
!.minecraft/config/itemzoom.cfg
!.minecraft/config/pickupnotifier.cfg
!.minecraft/config/tips.cfg
!.minecraft/config/toastcontrol.cfg

#other
!manifest.json
!modlist.html
!packager.sh
!.minecraft/Title.txt