#basic
/*
!.gitignore
!README.md
!.minecraft/
.minecraft/*
!.minecraft/config/
.minecraft/config/*
!/.minecraft/oresources/
!/.minecraft/resources/

#config
!.minecraft/config/dsurround/
!.minecraft/config/itemzoom.cfg
!.minecraft/config/pickupnotifier.cfg

#other
!manifest.json
!modlist.html
!packager.sh
!.minecraft/Title.txt