#basic
/*
!.gitignore
!README.md
!overrides/
overrides/*
!overrides/config/
overrides/config/*
!/overrides/oresources/
!/overrides/resources/

#config
!overrides/config/dsurround/
!overrides/config/itemzoom.cfg
!overrides/config/pickupnotifier.cfg

#other
!manifest.json
!modlist.html
!overrides/Title.txt